@model MVCWeb.Models.ProductManageViewModel

<div class="col-md-12">
    <table class="table table-hover" id="product-table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th class="text-center">Quy cách</th>
                <th class="text-center">Giá gốc</th>
                <th class="text-center">Giá bán mặc định</th>
                <th style="width: 42px"></th>
            </tr>
        </thead>
        <tbody>
            @{ var odd = true; }
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td class="italic">@item.ProductName - @item.Categories.Count</td>
                    <td class="text-center text-success">@item.ShortDescription</td>
                    <td class="text-center text-primary">@item.OriginalPrice.ToString("#,##0 VNĐ ")</td>
                    <td class="text-center text-danger">@item.UnitPrice.ToString("#,##0 VNĐ ")</td>
                    <td class="text-right">
                        <div class="btn-group order-btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary edit-product" data-product-id="@item.Id"><span class="glyphicon glyphicon-edit"></span></button>
                        </div>
                    </td>
                </tr>
                odd = !odd;
            }
        </tbody>
    </table>
    @Html.PagerBootstrap(Model.ItemCount, Model.PageSize)
</div>

