@model MVCWeb.Models.ProductEditViewModel

<div class="modal fade" id="product-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"@* data-backdrop="static"*@>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-title">Thêm/Sửa khách hàng</h4>
            </div>
            <div class="modal-body" id="modal-body">
                @using (Ajax.BeginForm("Edit", "Product", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnBegin = "productEditBegin",
                    OnSuccess = "productEditCallBack"
                }, new {id = "frmProductEdit"}))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                @Html.TextBoxFor(o => o.Product.ProductName, new {@class = "form-control", @id = "txtProductName"})
                                @Html.HiddenFor(o => o.Product.Id, new {@id = "ObjId"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả sản phẩm</label>
                                @Html.TextBoxFor(o => o.Product.ShortDescription, new { @class = "form-control", @id = "txtShortDescription" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Giá gốc</label>
                                @Html.TextBoxFor(o => o.Product.OriginalPrice, new { @class = "form-control", @id = "txtOriginalPrice" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Giá bán</label>
                                @Html.TextBoxFor(o => o.Product.UnitPrice, new { @class = "form-control", @id = "txtUnitPrice" })
                            </div>
                        </div>
                    </div>
                }
                <div id="edit-content" class="notification-container"></div>
            </div>
            <div class="modal-footer">
                <div class="col-md-2">
                    <img src="~/Content/images/ajax-loader-3.gif" class="edit-loader" style="display: none" id="edit-loader"/>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-block btn-primary" id="btnSave">Lưu lại</button>
                </div>
            </div>
        </div>
    </div>
</div>