@model MVCWeb.Models.OrderManageModel

<div class="col-md-12">
    <table id="order-table">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Khách hàng</th>
                <th class="text-center">Ngày tạo</th>
                <th style="width: 92px"></th>
            </tr>
        </thead>
        <tbody>
            @{ var odd = true; }
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td class="text-center">@item.Id</td>
                    <td class="text-center">@item.Customer.SuggestName</td>
                    <td class="text-center">@item.CreatedOn.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" onclick="loadCarTrackingEditForm(@item.Id)">Cập nhật</button>
                    </td>
                </tr>
                odd = !odd;
            }
        </tbody>
    </table>
    @Html.PagerBootstrap(Model.ItemCount, Model.PageSize)
</div>

