@model Order

<div class="modal-dialog" id="payment-history-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-title">Công nợ</h4>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td style="width: 130px">
                                <strong>Tên khách hàng:</strong>
                            </td>
                            <td class="text-primary">
                                <strong>@Model.Customer.CustomerName</strong>
                            </td>
                            <td style="width: 70px">
                                <strong>Đã trả:</strong>
                            </td>
                            <td class="text-success">
                                <strong>@Model.PaidCash.ToString("#,##0")</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Thực thu:</strong>
                            </td>
                            <td class="text-primary">
                                <strong>@Model.RealCash.ToString("#,##0")</strong>
                            </td>
                            <td>
                                <strong>Còn lại:</strong>
                            </td>
                            <td class="text-danger">
                                <strong>@Model.RemainingCash.ToString("#,##0")</strong>
                            </td>
                        </tr>
                    </table>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block">Lưu</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Số tiền</th>
                            <th>Hình thức</th>
                            <th>Ghi chú</th>
                            <th>Ngày tạo</th>
                            <th style="width: 95px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var paymentHistory in Model.PaymentHistories)
                        {
                            <tr>
                                <td class="text-success"><strong>@paymentHistory.Value.ToString("#,##0")</strong></td>
                                <td class="text-danger">@paymentHistory.PaymentMethod</td>
                                <td class="text-warning">@paymentHistory.Note</td>
                                <td class="text-primary">@paymentHistory.CreatedOn.ToString("g")</td>
                                <td>
                                    <div class="btn-group order-btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-primary edit-payment-history" title="Sửa">
                                            <img src="~/Content/images/ajax-loader-1.gif" style="display: none"/>
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger delete-payment-history" title="Xóa">
                                            <img src="~/Content/images/ajax-loader-1.gif" style="display: none"/>
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="well" id="payment-history-container">

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div id="modal-alert-container"></div>
            </div>
        </div>
    </div>
</div>
